<div class="lib-title">Title示例</div>
<div class="t-title-wrapper">
  <pre class="pre-style"><![CDATA[<np-title text="成功案例概览"></np-title>]]></pre>
  <np-title text="成功案例概览"></np-title>
  <br />
  <pre class="pre-style"><![CDATA[<np-title text="智能助手" [vBar]="false" [bold]="true"></np-title>]]></pre>
  <np-title text="智能助手" [vBar]="false" [bold]="true"></np-title>
  <br />
  <pre
    class="pre-style"><![CDATA[<np-title text="全渠道会员数据概览" description="更新时间: 2019-08-09 14:42:26" [vBar]="false" [bold]="true"></np-title>]]></pre>
  <np-title text="全渠道会员数据概览" description="更新时间: 2019-08-09 14:42:26" [vBar]="false" [bold]="true"></np-title>
  <br />
  <pre class="pre-style"><![CDATA[<np-title text="系统推荐群体" description="注：每天6:00AM系统更新数据"></np-title>]]></pre>
  <np-title text="系统推荐群体" description="注：每天6:00AM系统更新数据"></np-title>
  <br />
  <pre class="pre-style"><![CDATA[<np-title text="今日数据概览">
      <title-template (click)="onRefresh()">
        <i class="fas fa-sync-alt" style="color: #2cc5c6; font-size: 18px; cursor: pointer;"></i>
      </title-template>
    </np-title>]]></pre>
  <np-title text="今日数据概览">
    <title-template (click)="onRefresh()">
      <i class="fas fa-sync-alt" style="color: #2cc5c6; font-size: 18px; cursor: pointer;"></i>
    </title-template>
  </np-title>
  <br />
  <pre class="pre-style"><![CDATA[<np-title type="caption" text="营销数据"></np-title>]]></pre>
  <np-title type="caption" text="营销数据"></np-title>
  <br />
  <pre
    class="pre-style"><![CDATA[<np-title type="notice" description="精准投放支持发放微信券啦~，券可直达微信公众号和微信卡包，还有更多微信补贴等你来拿!"></np-title>]]></pre>
  <np-title type="notice" description="精准投放支持发放微信券啦~，券可直达微信公众号和微信卡包，还有更多微信补贴等你来拿!"></np-title>
</div>
