$primary: np-palette($np-orange);
$accent:  np-palette($np-indigo, A200, A100, A400);
$warn:    np-palette($np-red);

$theme: np-light-theme($primary, $accent, $warn, $np-large);

// Include non-theme styles for core.
// @include np-core();

// Include all theme-styles for the components based on the current theme.
@include np-controls-theme($theme);