<div class="lib-title">Title示例</div>
<div class="t-panel-wrapper">
  <pre class="pre-style"><![CDATA[
  <np-panel title="公众号粉丝数据概览" subTitle="更新时间: 2019-08-09 15:27:24">
      <np-panel-body>
        <p>
          这是panel组件的body
        </p>
        <p>
          这是panel组件的body
        </p>
      </np-panel-body>
      <np-panel-footer>
        这是panel的footer
      </np-panel-footer>
  </np-panel>
    ]]></pre>
  <div style="margin: 0 15px;">
    <np-panel title="公众号粉丝数据概览" subTitle="更新时间: 2019-08-09 15:27:24">
      <np-panel-body>
        <np-button>确定</np-button>
        <p>
          这是panel组件的body
        </p>
        <p>
          这是panel组件的body
        </p>
      </np-panel-body>
      <np-panel-footer>
        这是panel的footer
      </np-panel-footer>
    </np-panel>
  </div>
  <br />
  <br />
</div>
