<div class="flex-wrap row-flex app-wrapper">
  <img src="assets/images/account-pictures/user1.png" style="position: absolute; left: 66px; z-index: 99999; top: 21px; cursor: pointer;width: 80px;
    height: auto;" (click)="onJustForFunny()">
  <np-menu [menus]="menuList" [userInfo]="userInfo" logo="assets/images/account-pictures/user1.png"
    bg="assets/images/account-pictures/sideNavBg.png"></np-menu>
  <!-- <np-sidebar-container>
    <np-sidebar [(opened)]="_opened" [mode]="_MODES[_modeNum]" [keyClose]="_keyClose"
      [position]="_POSITIONS[_positionNum]" [dock]="_dock" [dockedSize]="'50px'"
      [autoCollapseHeight]="_autoCollapseHeight" [autoCollapseWidth]="_autoCollapseWidth"
      [closeOnClickOutside]="_closeOnClickOutside" [closeOnClickBackdrop]="_closeOnClickBackdrop"
      [showBackdrop]="_showBackdrop" [animate]="_animate" [trapFocus]="_trapFocus" [autoFocus]="_autoFocus"
      [sidebarClass]="'demo-sidebar'" [ariaLabel]="'My sidebar'" (onOpenStart)="_onOpenStart()" (onOpened)="_onOpened()"
      (onCloseStart)="_onCloseStart()" (onClosed)="_onClosed()" (onTransitionEnd)="_onTransitionEnd()">
      <button class="demo-control" (click)="_toggleOpened()">Close sidebar</button>
    </np-sidebar>
    <div np-sidebar-content>
      <div>
        <button class="demo-control" (click)="_toggleOpened()">opened ({{_opened}})</button>
        <button class="demo-control" (click)="_toggleMode()">mode ({{_MODES[_modeNum]}})</button>
        <button class="demo-control" (click)="_togglePosition()">position ({{_POSITIONS[_positionNum]}})</button>
        <button class="demo-control" (click)="_toggleDock()">dock ({{_dock}})</button>
        <button class="demo-control" (click)="_toggleAutoCollapseHeight()">Auto collapse at 500px height
          ({{_autoCollapseHeight ? 'true' : 'false'}})</button>
        <button class="demo-control" (click)="_toggleAutoCollapseWidth()">Auto collapse at 500px width
          ({{_autoCollapseWidth ? 'true' : 'false'}})</button>
      </div>

      <div>
        <button class="demo-control" (click)="_toggleCloseOnClickOutside()">closeOnClickOutside
          ({{_closeOnClickOutside}})</button>
        <button class="demo-control" (click)="_toggleCloseOnClickBackdrop()">closeOnClickBackdrop
          ({{_closeOnClickBackdrop}})</button>
        <button class="demo-control" (click)="_toggleShowBackdrop()">showBackdrop ({{_showBackdrop}})</button>
        <button class="demo-control" (click)="_toggleAnimate()">animate ({{_animate}})</button>
        <button class="demo-control" (click)="_toggleTrapFocus()">trapFocus ({{_trapFocus}})</button>
        <button class="demo-control" (click)="_toggleAutoFocus()">autoFocus ({{_autoFocus}})</button>
        <button class="demo-control" (click)="_toggleKeyClose()">keyClose ({{_keyClose}})</button>
      </div>
    </div>
  </np-sidebar-container> -->
  <div style="width: 100%; height: 100vh; overflow-y: auto;">
    <router-outlet></router-outlet>
  </div>

</div>
